body {
  font-family: 'Lato', verdana, sans-serif;
  color: black;
  /*height: 100%;*/
  width: 100%;
  margin: 0;
  background: rgba(250,250,250,1);
}

img, h1, h2, a {
  position: relative;
  z-index: 2;
  padding: 0 10px;
  }

/*.feather {
  background: rgba(250, 250, 250, .8);
}*/

.radial-overlay {
  background: -webkit-radial-gradient(rgba(255, 255, 255, .9) 40%, rgba(255, 255, 255, .2) 90%); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(rgba(255, 255, 255, .9) 40%, rgba(255, 255, 255, .2) 90%); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(rgba(255, 255, 255, .9) 40%, rgba(255, 255, 255, .2) 90%); /* For Firefox 3.6-15 */
  background: radial-gradient(rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .2) 90%); /* Standard syntax */
  height: 100%;
  width: 100%;
}

img {
  height: 50px;
  width: 50px;
  margin: 0 15px 0 15px;
}

.board {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(250,250,250,1);
  /*background-image: url("/assets/grey.png");*/
  /*background-repeat: repeat;*/
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 5.5em;
  margin: 30px 0 20px 0;
  padding: 10px;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  padding: 0 10px;
}

a {
  font-style: none;
  text-decoration: none;
  color: #fff;
  padding: 0;
  margin: 0;
}

nav > a {
  font-size: 1.5em;
  margin: 0 20px 0 20px;
  color: rgba(10, 10, 10, 1);
}

nav > a:hover {
  color: rgba(70, 70, 70, 1);
}

p {
  font-size: 1.18em;
}

#first-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(200, 200, 200, .8);
  position: relative;
}

.about-text {
  width: 768px;
  text-align: center;
}



.skill-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: rgba(30, 30, 30, .8);
  width: 100%;
}

.skill-bar > img {
  padding: 10px;
}

.square {
  /*float:left;*/
  position: relative;
  width: 33%;
  padding-bottom: 33%;
  margin: 5%;
  background-color: rgba(20, 20, 20, .9);
  color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.content {
  position: absolute;
  display: flex;
  align-items: center;
}


.textbox {
  background: rgb(20, 20, 20);
  background: rgba(0,0,0,.6);
  padding: 0 3% 50% 3%;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
  opacity: 0;
  text-align: left;
}

.textbox:hover {
  opacity: 1;
  font-weight: normal;
}



.logos {
  height: 20px;
  display: flex;
}

 /*For mobile devices - needs tweaking*/
@media only screen and (max-width: 768px) {
  .square {
    width: 48%;
    padding-bottom: 48%;
  }
  .textbox{
    font-size: 0.8em;
  }
  p {
    font-size: 1em;
  }
  .portfolio-block {
    width: 100%;
  }
  .about-me{
    width: 100%;
  }
}


/*  For lists */
ul{
  margin: 0;
  padding: 0 20px 0 20px;
  list-style-position: outside;
}

li{
  margin: 0 0 0 5%;
  text-align:left;
}

/*  For responsive image backgrounds */

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/*.circle {
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 50%;
  left: -10px;
  top: -10px;
  background-color: darkgrey;
  opacity: 0.7;
}*/


/*.down-arrow {
  height: 50px;
  width: 50px;
  background-color: darkgrey;
  border-radius: 50%;
  font-size: 40px;
  position: absolute;
  top: 0px
  left: 50%;
}*/

#second-section {
  background-color: rgba(255, 255, 255, .8);
  color: black;
  position: relative;
}

.portfolio-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.portfolio-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
  width: 90%;
}

#box1{
  background-image: url("../assets/tappity.png");
}

#box2{
  background-image: url("../assets/vt-globe.png");
}

#box3{
  background-image: url("../assets/nj11.png");
}

#box4{
  background-image: url("../assets/golife.png");
}

#box5 {
  background-image: url("../assets/here1.png");
}

#box6 {
  background-image: url("../assets/perot1.jpg");
  overflow: auto;
}

#nyt-link {
  color: lightblue;
  font-size: 1.2em;
  padding: 20px;
  display: block;
}

aside {
  position: relative;
  background-color: grey;
  display: inline-block;
  right: 0;
}

#third-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, .8);
  height: 520px;
  margin: 0px;
}

.contact-container {
  text-align: center;
  position: relative;
  /*background: darkgrey;*/
  left: 20px;
  height: 400px;
  display: inline-block;
  color: black;
  margin: 50px;
}

input, textarea {
  width: 300px;
  box-sizing: border-box;
  margin: 10px;
  padding: 12px 18px;
  display: inline-block;
  box-shadow: 0 3px 5px #888888;
  border: none;
  border-top: 1px solid #FAFAFA;
  background-color: #FAFAFA;
}

textarea {
  resize: none;
}

button {
  background-color: #cdd422;
  height: 40px;
  width: 300px;
  margin: 10px;
  border-style: none;
  box-shadow: 0 3px 5px #888888;
}

footer {
  text-align: center;
  margin: 0;
  background-color: grey;
}
