body {
  font-family: "Lato", verdana, sans-serif;
  color: #000;
  width: 100%;
  margin: 0;
  background: #fafafa;
  background: rgba(250,250,250, 0.9);
}

main {
  z-index: 1;
  overflow-x: hidden;
}

.mb0 {
  margin-bottom: 0;
}

.mt4 {
  margin-top: 4rem;
}

main .black-bg {
  background: #000
}

.gutter {
  padding: 0 1rem;
}

.radial-overlay {
  background: -webkit-radial-gradient(
    rgba(255, 255, 255, 0.9) 40%,
    rgba(255, 255, 255, 0.2) 90%
  ); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(
    rgba(255, 255, 255, 0.9) 40%,
    rgba(255, 255, 255, 0.2) 90%
  ); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(
    rgba(255, 255, 255, 0.9) 40%,
    rgba(255, 255, 255, 0.2) 90%
  ); /* For Firefox 3.6-15 */
  background: radial-gradient(
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.2) 90%
  ); /* Standard syntax */
  height: 100%;
  width: 100%;
}

.radial-overlay:hover {
  cursor: cell;
}

.ext-links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.ext-links > a {
  height: 50px;
  width: 50px;
  margin: 0 1rem;
}

.board {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fafafa;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

header h1 {
  font-size: 10vw;
  letter-spacing: 0.5vw;
  margin: 0 1rem;
}

header h2 {
  font-size: 3vw;
  margin: 0 1rem;
}

.portfolio-container > h2 {
  z-index: 1;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}

#about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* background: rgba(200, 200, 200, 0.8); */
  position: relative;
}

.about-text {
  text-align: center;
  box-sizing: border-box;
  margin: 0 1rem;
  max-width: 768px;
}

.dark-bg {
  background: rgba(20, 20, 20, 0.9);
  color: #fff;
}

.light-bg {
  background: #fafafa;
  background: rgba(250,250,250, 0.9);
  color: #000;
}

main .dark-bg-solid {
  background: rgba(20, 20, 20, 1);
}

.skill-bar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1024px;
  padding: 1rem;
}

.skill-bar > img {
  padding: 10px;
  box-sizing: border-box;
  width: 10%;
}

/*  For responsive image backgrounds */

.ratio-box {
  height: 0;
  position: relative;
  width: 33%;
  padding-top: 33%;
  overflow: hidden;
  background: rgb(20, 20, 20);
}

.ratio-box,
.text-box {
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.text-box {
  width: 48%;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  background: rgba(20, 20, 20, 0.9);
  color: #fff;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1em;
  text-align: left;
  z-index: 3;
}

.content > h3 {
  margin: 0;
}
.content > h4 {
  margin: 0.5rem 0 0;
}

.overlay {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.on-hover {
  opacity: 0;
}

.on-hover:hover {
  opacity: 1;
}

/* For mobile devices */
@media only screen and (max-width: 768px) {

  header h1 {
    font-size: 13vw;
  }
  
  header h2 {
    font-size: 4vw;
  }

  .mob-hide {
    display: none;
  }

  .skill-bar > img {
    width: 20%;
    padding: 4vw;
  }
  .ratio-box {
    width: 96%;
    padding-top: 48%;
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid rgba(20, 20, 20, 1)
  }
  .content {
    font-size: 0.8em;
    width: 50%;
    text-align: center;
  }

  .text-box {
    display: flex;
    flex-flow: row nowrap;
  }

  .text-box li {
    list-style: none;
    margin: 0;
  }

  .content.textbox {
    left: unset;
  }

  .on-hover {
    opacity: 1;
  }

  .ratio-box:nth-child(2n - 1) > img,
  .ratio-box:nth-child(2n) > .content {
    left: 50%;
  }

  .portfolio-block {
    width: 100%;
  }
  .about-me {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .text-box {
    width: 96%;
  }
}

/* For lists */
ul {
  margin: 0;
  padding: 0;
  list-style-position: outside;
}

li {
  margin: 0 0 0.5rem 1.5rem;
  text-align: left;
}

.portfolio-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.portfolio-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 5%;
}

footer {
  text-align: center;
  padding: 1em 0;
}
